
/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

/* Bootstrap default font-family is Helvetica Neue */
h1 {
  font-family: "Times New Roman", Times, serif;
	/* font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
  color: #ff00ff;  
  */
  text-shadow: 3px 3px 1px black;
}

.error {
  background-color: yellow;
  color : red;
}


.showInput {
  background-color: pink;
}


